//green font

--text: #f0f6ee;
--background: #0c1109;
--primary: #b4cea1;
--secondary: #376849;
--accent: #5fab91;

// balck yellow font 

--text: #f4e8e8;
--background: #070304;
--primary: #d3a6a5;
--secondary: #725e38;
--accent: #abac54;


//colorfull 
--text: #d4fef6;
--background: #00110f;
--primary: #80fce5;
--secondary: #aa044f;
--accent: #fa9431;
