<link rel="stylesheet" href="./sidebar.css" />
<div class="sidebar">
    <div class="top">
      <div class="logo">
        <img src="./images/socerballFull - Copy.png"  alt="logo"/>
        <span class="menu-icon">Hooligans</span>
      </div>
      <!--seperate logo with side menu-->
        <div style="padding: 10px 0;">
        </div>
    </div>
    <!-- sidebar open/close button -->
    <div id="btn">
      <img src="./images/menu.png" alt="menu" width="26px" height="26px" />
    </div>
    <ul> <!--list of the side bar-->
      <!-- Matches -->
        <li> 
          <a href="#"> <!--assign link -->
          <img src="./images/football.png" alt="matches" /> <!--image-->
          <span class="side-text">Matches</span> <!--text-->
          </a>
          <span class="tooltip">Matches</span> <!--tooltip-->
        </li>
      <!-- Standings -->
        <li>
          <a href="#">
          <img src="./images/award.png" alt="standings" />
          <span class="side-text">Standings</span>
          </a>
          <span class="tooltip">Standings</span>
        </li>
      <!-- My clubs -->
        <li>
          <a href="#">
          <img src="./images/football-club.png" alt="myclubs" />
          <span class="side-text">My Clubs</span>
          </a>
          <span class="tooltip">My Clubs</span>
        </li>

    </ul>
  </div>