.players {
    width: 100%;
    background-color: var(--primary);
    border-radius: 15px;
    margin-top: 1rem;

}

.club-info .texts img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* CLUB */
.club {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: var(--primary);
    align-items: center;
    border-radius: 20px;
    margin-top: 1rem;
}

.club-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 50%;
    position: relative; /* Προσθήκη position: relative για να λειτουργήσει το position: absolute στο .club-background-image */
    z-index: 1; /* Αυξάνουμε το z-index για να εμφανιστεί πάνω από το background image */
    position: relative;
}

.club-info img {
    width: 100px;
    height: 100px;
    margin: 20px 30px 20px 10px;
}

.club-info .texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.club-info .texts h1 {
    margin: 0;
}

.club-info .texts div img,
.club-info .texts div h3 {
    margin: 10px 0 0 0;
    align-self: center;
    justify-self: center;
}

.club-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%) contrast(70%);
    opacity: 0.7;
    border-radius: 15px;
    /* Εδώ θέτουμε το background image και το zoom out */
    background-image: url("../images/Olympiacos_FC_logo.svg.png");
    background-size: 20%; /* Το zoom out effect */
    background-repeat: no-repeat;
    z-index: 0;
}




/* UPCOMING MATCH */

.upcoming-match {
    width: 100%;
    position: relative;
    background-color: var(--primary);
    border-radius: 15px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcoming-match-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/opapArena.png");
    background-size: cover;
    background-position: center;
    filter: brightness(70%) contrast(70%);
    opacity: 0.7;
    border-radius: 15px;
}

.upcoming-match h1,
.upcoming-match .texts,
.upcoming-match h2,
.upcoming-match .clubs,
.upcoming-match button {
    position: relative;
}

.upcoming-match .clubs {
    display: flex;
    justify-content: space-around;
}

.upcoming-match .home,
.upcoming-match .away,
.upcoming-match .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming-match .texts h3,
.upcoming-match .texts h4 {
    margin: 0;
}

.upcoming-match img {
    width: 100px;
}

.upcoming-match .btn-reserve {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
}

.upcoming-match .btn-reserve:active {
    scale: 0.92;
}

.upcoming-match .btn-reserve:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}