.footballfied {
  /* football field is 105x68 meters */
  /* 1 meter = 7px  to change recalculate all widths and heights based on new value */
  position: relative;
  width: 735px;
  height: 476px;
  background: var(--field);
  border: 2px solid var(--text);
}

.footballfied .goalHome .penaldyspot {
  /* penaldy circle is 11m from the goal line */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: var(--text);
  border-radius: 50%;
  left: 10.47%;
}

.footballfied .goalHome .penaldyarea {
  /* goal area is 5.5m from the goal line */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--text);
  /* width: 18.32m x 7 */
  width: 38.5px;
  /* height: 5.5m x 7 */
  height: 128.24px;
}

.footballfied .goalHome .goalarea {
  /* goal area is 16.5m from the goal line */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--text);
  /* width: 40.32m */
  height: 282.24px;
  /* height: 16.5m */
  width: 115.5px;
}

.footballfied .goalHome .arch {
  /* arch is 11m from the goal line and 9.15m radius */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 84.05px;
  height: 84.05px;
  border-radius: 50%;
  left: 8.5%;
  background-image: linear-gradient(
    to left,
    var(--text) 37%,
    rgba(0, 0, 0, 0) 20%
  );
}
.footballfied .goalHome .arch2 {
  /* arch is 11m from the goal line and 9.15m radius */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 84.05px;
  height: 80.05px;
  border-radius: 50%;
  left: 8.25%;
  background-image: linear-gradient(
    to left,
    var(--field) 37%,
    rgba(0, 0, 0, 0) 20%
  );
}

.footballfied .goalAway .penaldyspot {
  /* penaldy circle is 11m from the goal line */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: var(--text);
  border-radius: 50%;
  right: 10.47%;
}

.footballfied .goalAway .penaldyarea {
  /* goal area is 5.5m from the goal line */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--text);
  /* width: 18.32m */
  width: 38.5px;
  /* height: 5.5m */
  height: 128.24px;
  right: 0;
}

.footballfied .goalAway .goalarea {
  /* goal area is 16.5m from the goal line */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--text);
  /* width: 40.32m */
  height: 282.24px;
  /* height: 16.5m */
  width: 115.5px;
  right: 0;
}

.footballfied .goalAway .arch {
  /* arch is 11m from the goal line and 9.15m radius */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 84.05px;
  height: 84.05px;
  border-radius: 50%;
  right: 8.5%;
  background-image: linear-gradient(
    to right,
    var(--text) 37%,
    rgba(0, 0, 0, 0) 20%
  );
}
.footballfied .goalAway .arch2 {
  /* arch is 11m from the goal line and 9.15m radius */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 84.05px;
  height: 80.05px;
  border-radius: 50%;
  right: 8.25%;
  background-image: linear-gradient(
    to right,
    var(--field) 37%,
    rgba(0, 0, 0, 0) 20%
  );
}

.footballfied .centerspot {
  /* center circle is 9.15m in radius */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--text);
}

.footballfied .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: var(--text);
}

.footballfied .centercirlce {
  /* center circle is 9.15m in radius */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128.1px;
  height: 128.1px;
  border: 2px solid var(--text);
  border-radius: 50%;
}

/* PLAYER POSITIONS */
.footballfied .players .home p {
  color: var(--accent);
  font-size: small;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2px;
  width: 28px;
  height: 28px;
  background: var(--bg);
  border-radius: 50%;
  border: 2px solid var(--accent);
}

.footballfied .players .home .goalkeeper {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
}

.footballfied .players .home .leftback {
  position: absolute;
  top: 12%;
  left: 18%;
  transform: translateY(-50%);
}

.footballfied .players .home .centerback {
  position: absolute;
  top: 30%;
  left: 13%;
  transform: translateY(-50%);
}

.footballfied .players .home .centerback2 {
  position: absolute;
  bottom: 30%;
  left: 13%;
  transform: translateY(-50%);
}

.footballfied .players .home .rightback {
  position: absolute;
  bottom: 12%;
  left: 18%;
  transform: translateY(-50%);
}

.footballfied .players .home .leftmidfield {
  position: absolute;
  top: 8%;
  left: 30%;
  transform: translateY(-50%);
}

.footballfied .players .home .centermidfield {
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translateY(-50%);
}

.footballfied .players .home .centermidfield2 {
  position: absolute;
  top: 48%;
  left: 30%;
  transform: translateY(-50%);
}

.footballfied .players .home .centermidfield3 {
  position: absolute;
  top: 68%;
  left: 30%;
  transform: translateY(-50%);
}

.footballfied .players .home .rightmidfield {
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translateY(-50%);
}

.footballfied .players .home .leftforward {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translateY(-50%);
}

.footballfied .players .home .centerforward1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}

.footballfied .players .home .centerforward2 {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
}

.footballfied .players .home .rightforward {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translateY(-50%);
}

/* AWAY PLAYER POSITIONS */
.footballfied .players .away p {
  color: var(--);
  font-size: small;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2px;
  border: 2px solid var(--text);
  border-radius: 50%;
  background: var(--secondary);
  width: 28px;
  height: 28px;
}

.footballfied .players .away .goalkeeper {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}

.footballfied .players .away .leftback {
  position: absolute;
  top: 12%;
  right: 18%;
  transform: translateY(-50%);
}

.footballfied .players .away .centerback {
  position: absolute;
  top: 30%;
  right: 13%;
  transform: translateY(-50%);
}

.footballfied .players .away .centerback2 {
  position: absolute;
  bottom: 30%;
  right: 13%;
  transform: translateY(-50%);
}

.footballfied .players .away .rightback {
  position: absolute;
  bottom: 12%;
  right: 18%;
  transform: translateY(-50%);
}

.footballfied .players .away .leftmidfield {
  position: absolute;
  top: 8%;
  right: 30%;
  transform: translateY(-50%);
}

.footballfied .players .away .centermidfield {
  position: absolute;
  top: 28%;
  right: 30%;
  transform: translateY(-50%);
}

.footballfied .players .away .centermidfield2 {
  position: absolute;
  top: 48%;
  right: 30%;
  transform: translateY(-50%);
}

.footballfied .players .away .centermidfield3 {
  position: absolute;
  top: 68%;
  right: 30%;
  transform: translateY(-50%);
}

.footballfied .players .away .rightmidfield {
  position: absolute;
  top: 90%;
  right: 30%;
  transform: translateY(-50%);
}

.footballfied .players .away .leftforward {
  position: absolute;
  top: 20%;
  right: 40%;
  transform: translateY(-50%);
}

.footballfied .players .away .centerforward1 {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translateY(-50%);
}

.footballfied .players .away .centerforward2 {
  position: absolute;
  top: 50%;
  right: 45%;
  transform: translateY(-50%);
}

.footballfied .players .away .rightforward {
  position: absolute;
  top: 80%;
  right: 40%;
  transform: translateY(-50%);
}
