.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}


.stats
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: var(--primary);
    border-radius: 10px;
}

.stats h1
{
    color: var(--text);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 3%;
}

.stats h3
{
    color: var(--text);
    font-size: 1rem;
}

.stats-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bar .line
{
    width: 50%;
    height: 5px;
    margin: 0 7%;
    border-radius: 20px;
    border: 1px solid var(--bg);
}

.lineup
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 60%;
    background-color: var(--primary);
    border-radius: 10px;
margin-right: 3%;
}

.lineup .home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: var(--bg);
    border:2px solid var(--accent);
    border-radius: 10px;
    margin: 2% 2%;
}

.lineup .away
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: var(--secondary);
    border:2px solid var(--text);
    border-radius: 10px;
    margin: 2% 2%;
}

.lineup .home .general, .lineup .away .general
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lineup .home h1, .lineup .away h1
{
    color: var(--text);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.lineup .home h2, .lineup .away h2
{
    color: var(--second_text);
    font-size: 1.2rem;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.lineup .home h3, .lineup .away h3
{
    color: var(--second_text);
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.lineup .home .line, .lineup .away .line
{
    width: 100%;
    height: 2px;
    margin: 10px 0;
}

.lineup .home .line{ background-color: var(--accent); }
.lineup .away .line{ background-color: var(--text); }

.lineup .home .players-container, .lineup .away .players-container
{
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: flex-end;  
}
 .player-card
 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
 }

 .player-card .number
 {
    width: 10%;
 }

    .player-card .name
    {
        width: 80%;
    }

    .player-card .position
    {
        width: 10%;
    }

