@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  min-height: 100vh;
  background: #100721;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 250px;
  gap: 10px;
}

.carousel .player-info {
  text-shadow: black 2px 2px 2px;
  color: white;
  align-self: flex-end;
  background-color: black;
}

.carousel > div {
  flex: 0 0 150px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  overflow: hidden;
}

.carousel > div:nth-of-type(1) {
  background: url("/frontend/images/fotis.png") no-repeat 50% / cover;
}

.carousel > div:nth-of-type(2) {
  background: url("/frontend/images/bakasetas.jfif") no-repeat 50% / cover;
}

.carousel > div:nth-of-type(3) {
  background: url("https://images.pexels.com/photos/1468379/pexels-photo-1468379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat 50% / cover;
}

.carousel > div:nth-of-type(4) {
  background: url("https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat 50% / cover;
}

.carousel > div:hover {
  flex: 0 0 200px;
  box-shadow: 1px 3px 15px var(--accent);
}

.carousel > div:hover .content {
  opacity: 1;
  visibility: visible;
}

.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 100%;
}

.players .buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 170px;
  
}

.players .buttons button {
  padding: 10px;
  margin: 10px;
  border: var(--secondary) 1px solid;
  border-radius: 15px;
  background-color: var(--primary);
  color:white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 15px var(--secondary);
}


/*

*/